Prerequsites: 
pip install opendatasets

In [2]:
import opendatasets as od
import pandas as pd
import csv

Gathering Data from Kaggle.com and store in a dataframe

In [23]:
od.download("https://www.kaggle.com/datasets/erinkhoo/property-price-register-ireland/data")

propertyPrice_df = pd.read_csv('property-price-register-ireland/Property_Price_Register_Ireland-28-05-2021.csv')
propertyPrice_df

Skipping, found downloaded files in "./property-price-register-ireland" (use force=True to force download)

,SALE_DATE,ADDRESS,POSTAL_CODE,COUNTY,SALE_PRICE,IF_MARKET_PRICE,IF_VAT_EXCLUDED,PROPERTY_DESC,PROPERTY_SIZE_DESC
0,2010-01-01,"5 Braemor Drive, Churchtown, Co.Dublin",NaN,Dublin,343000.0,0,0,Second-Hand Dwelling house /Apartment,NaN
1,2010-01-03,"134 Ashewood Walk, Summerhill Lane, Portlaoise",NaN,Laois,185000.0,0,1,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...
2,2010-01-04,"1 Meadow Avenue, Dundrum, Dublin 14",NaN,Dublin,438500.0,0,0,Second-Hand Dwelling house /Apartment,NaN
3,2010-01-04,"1 The Haven, Mornington",NaN,Meath,400000.0,0,0,Second-Hand Dwelling house /Apartment,NaN
4,2010-01-04,"11 Melville Heights, Kilkenny",NaN,Kilkenny,160000.0,0,0,Second-Hand Dwelling house /Apartment,NaN
...,...,...,...,...,...,...,...,...,...
476740,2021-05-28,"GRANGE STORES, GRANGE, MULLINGAR",NaN,Westmeath,150000.0,0,0,Second-Hand Dwelling house /Apartment,NaN
476741,2021-05-28,"MAIN STREET, LOWER BORRIS, BORRIS",NaN,Carlow,170000.0,1,0,Second-Hand Dwelling house /Apartment,NaN
476742,2021-05-28,"MULTYFARNHAM, WESTMEATH",NaN,Westmeath,175000.0,0,0,Second-Hand Dwelling house /Apartment,NaN
476743,2021-05-28,"NO 2 RIVERLODGE, SHRONE, GLENGARIFF",NaN,Cork,240000.0,0,0,Second-Hand Dwelling house /Apartment,NaN
476744,2021-05-28,"RABANE, KILL, COOTEHILL",NaN,Cavan,47000.0,0,0,Second-Hand Dwelling house /Apartment,NaN

Cleaning Dataset

In [24]:
propertyPrice_df.drop(columns=["ADDRESS", "POSTAL_CODE", "IF_MARKET_PRICE", "PROPERTY_SIZE_DESC" ], inplace=True) #storing the new dataframe as 
propertyPrice_df.drop_duplicates() #remove any duplicates from the data set as they are not necesssay for data processing and just take up processing resources

,SALE_DATE,COUNTY,SALE_PRICE,IF_VAT_EXCLUDED,PROPERTY_DESC
0,2010-01-01,Dublin,343000.0,0,Second-Hand Dwelling house /Apartment
1,2010-01-03,Laois,185000.0,1,New Dwelling house /Apartment
2,2010-01-04,Dublin,438500.0,0,Second-Hand Dwelling house /Apartment
3,2010-01-04,Meath,400000.0,0,Second-Hand Dwelling house /Apartment
4,2010-01-04,Kilkenny,160000.0,0,Second-Hand Dwelling house /Apartment
...,...,...,...,...,...
476740,2021-05-28,Westmeath,150000.0,0,Second-Hand Dwelling house /Apartment
476741,2021-05-28,Carlow,170000.0,0,Second-Hand Dwelling house /Apartment
476742,2021-05-28,Westmeath,175000.0,0,Second-Hand Dwelling house /Apartment
476743,2021-05-28,Cork,240000.0,0,Second-Hand Dwelling house /Apartment
476744,2021-05-28,Cavan,47000.0,0,Second-Hand Dwelling house /Apartment

In [6]:
# Count the number of rows for each value in IF_MARKET_PRICE
#market_price_counts = df['IF_MARKET_PRICE'].value_counts()

# Count the number of rows for each value in IF_VAT_EXCLUDED
vat_excluded_counts = df['IF_VAT_EXCLUDED'].value_counts()

#print("Count of each value in IF_MARKET_PRICE:")
#print(market_price_counts)

print("\nCount of each value in IF_VAT_EXCLUDED:")
print(vat_excluded_counts)

Count of each value in IF_VAT_EXCLUDED:
IF_VAT_EXCLUDED
0    400648
1     76097
Name: count, dtype: int64

if vat exclusive add 13.5%

In [7]:
# Update the 'House_Price' column based on the 'IF_VAT_EXCLUDED' column
df.loc[df['IF_VAT_EXCLUDED'] == 1, 'SALE_PRICE'] = df.loc[df['IF_VAT_EXCLUDED'] == 1, 'SALE_PRICE'] + (df['SALE_PRICE'] * 0.135)

# Display the updated DataFrame
print(df)

         SALE_DATE     COUNTY  SALE_PRICE  IF_VAT_EXCLUDED  \
0       2010-01-01     Dublin    343000.0                0
1       2010-01-03      Laois    209975.0                1
2       2010-01-04     Dublin    438500.0                0
3       2010-01-04      Meath    400000.0                0
4       2010-01-04   Kilkenny    160000.0                0
...            ...        ...         ...              ...
476740  2021-05-28  Westmeath    150000.0                0
476741  2021-05-28     Carlow    170000.0                0
476742  2021-05-28  Westmeath    175000.0                0
476743  2021-05-28       Cork    240000.0                0
476744  2021-05-28      Cavan     47000.0                0

                                PROPERTY_DESC
0       Second-Hand Dwelling house /Apartment
1               New Dwelling house /Apartment
2       Second-Hand Dwelling house /Apartment
3       Second-Hand Dwelling house /Apartment
4       Second-Hand Dwelling house /Apartment
...                                       ...
476740  Second-Hand Dwelling house /Apartment
476741  Second-Hand Dwelling house /Apartment
476742  Second-Hand Dwelling house /Apartment
476743  Second-Hand Dwelling house /Apartment
476744  Second-Hand Dwelling house /Apartment

[476745 rows x 5 columns]

In [8]:
# Rename the 'OldColumnName' to 'NewColumnName'
df = df.rename(columns={'PROPERTY_DESC': 'New Build'})

In [9]:
df.loc[df['New Build'] == 'New Dwelling house /Apartment', 'New Build'] = '1'
df.loc[df['New Build'] == 'Second-Hand Dwelling house /Apartment', 'New Build'] = '0'

df

         SALE_DATE     COUNTY  SALE_PRICE  IF_VAT_EXCLUDED New Build
0       2010-01-01     Dublin    343000.0                0         0
1       2010-01-03      Laois    209975.0                1         1
2       2010-01-04     Dublin    438500.0                0         0
3       2010-01-04      Meath    400000.0                0         0
4       2010-01-04   Kilkenny    160000.0                0         0
...            ...        ...         ...              ...       ...
476740  2021-05-28  Westmeath    150000.0                0         0
476741  2021-05-28     Carlow    170000.0                0         0
476742  2021-05-28  Westmeath    175000.0                0         0
476743  2021-05-28       Cork    240000.0                0         0
476744  2021-05-28      Cavan     47000.0                0         0

[476745 rows x 5 columns]

In [10]:
df.drop(columns=["IF_VAT_EXCLUDED"], inplace=True) #storing the new dataframe 
df

         SALE_DATE     COUNTY  SALE_PRICE New Build
0       2010-01-01     Dublin    343000.0         0
1       2010-01-03      Laois    209975.0         1
2       2010-01-04     Dublin    438500.0         0
3       2010-01-04      Meath    400000.0         0
4       2010-01-04   Kilkenny    160000.0         0
...            ...        ...         ...       ...
476740  2021-05-28  Westmeath    150000.0         0
476741  2021-05-28     Carlow    170000.0         0
476742  2021-05-28  Westmeath    175000.0         0
476743  2021-05-28       Cork    240000.0         0
476744  2021-05-28      Cavan     47000.0         0

[476745 rows x 4 columns]

Calculating Mean, Mode and median for the whole data set

In [11]:
from statistics import mode, median

In [12]:
mean = df["SALE_PRICE"].mean()
mode_value = mode(df["SALE_PRICE"])
median_value = median(df["SALE_PRICE"])

print("Mean SALE_PRICE:", mean)
print("Mode SALE_PRICE:", mode_value)
print("Median SALE_PRICE:", median_value)

Mean SALE_PRICE: 265525.12517328333
Mode SALE_PRICE: 150000.0
Median SALE_PRICE: 200000.0

In [13]:
# Assuming you have a DataFrame 'df' with columns 'COUNTY' and 'SALE_PRICE'

# Calculate the mean per county
mean_per_county = df.groupby('COUNTY')['SALE_PRICE'].mean()

# Calculate the mode per county
mode_per_county = df.groupby('COUNTY')['SALE_PRICE'].apply(lambda x: mode(x) if len(x) > 0 else None)

# Calculate the median per county
median_per_county = df.groupby('COUNTY')['SALE_PRICE'].median()

# Create a new DataFrame with the results
summary_df = pd.DataFrame({'Mean_SALE_PRICE': mean_per_county, 'Mode_SALE_PRICE': mode_per_county, 'Median_SALE_PRICE': median_per_county})

# Print or use summary_df as needed
print(summary_df)

           Mean_SALE_PRICE  Mode_SALE_PRICE  Median_SALE_PRICE
COUNTY
Carlow       156838.534364         120000.0          140000.00
Cavan        121279.239565          50000.0          100000.00
Clare        161892.103215         150000.0          136000.00
Cork         233781.501401         200000.0          196000.00
Donegal      119849.301731         100000.0          100000.00
Dublin       421953.904551         250000.0          310000.00
Galway       208655.519992         150000.0          176000.00
Kerry        163813.994920         100000.0          140000.00
Kildare      278252.045974         200000.0          255000.00
Kilkenny     185259.009902         150000.0          160000.00
Laois        154778.246811         100000.0          135000.00
Leitrim      103595.642527          50000.0           85000.15
Limerick     173230.855396         150000.0          150000.00
Longford     100088.249710         100000.0           80000.00
Louth        190394.146954         150000.0          167000.00
Mayo         129486.513236          50000.0          110000.00
Meath        251455.510665         200000.0          236999.35
Monaghan     134851.938802         100000.0          120000.00
Offaly       140654.064582         100000.0          125000.00
Roscommon    106087.642162          50000.0           85000.00
Sligo        137076.857867         100000.0          110000.00
Tipperary    140742.861786          50000.0          124999.82
Waterford    161540.394641         100000.0          140000.00
Westmeath    155549.188088         100000.0          135000.00
Wexford      163676.764630         150000.0          148000.00
Wicklow      322742.529984         300000.0          275000.00

In [14]:
# Extract the year from the 'SALE_DATE' column
df['SALE_YEAR'] = pd.to_datetime(df['SALE_DATE']).dt.year

# Group by 'COUNTY' and 'SALE_YEAR'
grouped = df.groupby(['COUNTY', 'SALE_YEAR'])

# Calculate the mean, mode, and median per county and year
mean_per_county_year = grouped['SALE_PRICE'].mean()
mode_per_county_year = grouped['SALE_PRICE'].apply(lambda x: mode(x) if len(x) > 0 else None)
median_per_county_year = grouped['SALE_PRICE'].median()

# Create a new DataFrame with the results
summary_df = pd.DataFrame({'Mean_SALE_PRICE': mean_per_county_year, 'Mode_SALE_PRICE': mode_per_county_year, 'Median_SALE_PRICE': median_per_county_year}).reset_index()

# Print or use summary_df as needed
print(summary_df)

      COUNTY  SALE_YEAR  Mean_SALE_PRICE  Mode_SALE_PRICE  Median_SALE_PRICE
0     Carlow       2010    183103.892963        158999.88        169999.1650
1     Carlow       2011    143834.613309        170000.00        129950.0000
2     Carlow       2012    111141.007784        100000.00        100000.0000
3     Carlow       2013    115669.161800         35000.00         90000.9600
4     Carlow       2014    117306.016439        150000.00        112000.0000
..       ...        ...              ...              ...                ...
307  Wicklow       2017    340932.792446        300000.00        299999.9883
308  Wicklow       2018    343802.121295        310000.00        302000.0000
309  Wicklow       2019    370105.657973        250000.00        310000.0000
310  Wicklow       2020    378801.979148        300000.00        327000.0000
311  Wicklow       2021    416200.267424        330000.00        364646.1200

[312 rows x 5 columns]

In [21]:
display(summary_df.to_string())
df.to_csv(r'property-price-register-ireland/export_dataframe.csv', index=False, header=True)

print(df)

'        COUNTY  SALE_YEAR  Mean_SALE_PRICE  Mode_SALE_PRICE  Median_SALE_PRICE\n0       Carlow       2010    183103.892963     158999.88000      169999.165000\n1       Carlow       2011    143834.613309     170000.00000      129950.000000\n2       Carlow       2012    111141.007784     100000.00000      100000.000000\n3       Carlow       2013    115669.161800      35000.00000       90000.960000\n4       Carlow       2014    117306.016439     150000.00000      112000.000000\n5       Carlow       2015    130453.348428     120000.00000      120000.000000\n6       Carlow       2016    140306.120846      80000.00000      135000.000000\n7       Carlow       2017    150385.207451     120000.00000      140000.000000\n8       Carlow       2018    174465.904231     100000.00000      165000.000000\n9       Carlow       2019    179657.019430     150000.00000      170000.000000\n10      Carlow       2020    213992.577366     150000.00000      175000.000000\n11      Carlow       2021    201765.552904     120000.00000      170000.000000\n12       Cavan       2010    153500.596210     113500.00000      144862.495925\n13       Cavan       2011    137444.803699      70000.00000      119999.997450\n14       Cavan       2012    107824.763579      40000.00000       89999.995250\n15       Cavan       2013     84181.648595      22050.00000       65000.000000\n16       Cavan       2014     78035.249554      20507.36000       60800.000000\n17       Cavan       2015     97045.393269      50000.00000       80000.000000\n18       Cavan       2016    108614.308484      65000.00000       88000.000000\n19       Cavan       2017    123204.558434      50000.00000      102150.000000\n20       Cavan       2018    134676.920059      60000.00000      124000.000000\n21       Cavan       2019    146894.261331      97500.00000      137500.000000\n22       Cavan       2020    164632.036217      90000.00000      140000.000000\n23       Cavan       2021    152319.314068     150000.00000      145000.000000\n24       Clare       2010    181306.968060     150000.00000      164787.500000\n25       Clare       2011    161256.173236     100000.00000      140000.000000\n26       Clare       2012    134236.030522     100000.00000      115000.000000\n27       Clare       2013    119717.622237     120000.00000       95000.000000\n28       Clare       2014    120273.399182      75000.00000       96475.000000\n29       Clare       2015    125554.290660      70000.00000      102500.000000\n30       Clare       2016    168870.748100     120000.00000      123000.000000\n31       Clare       2017    170781.458291      80000.00000      140000.000000\n32       Clare       2018    174039.934036     180000.00000      160000.000000\n33       Clare       2019    190558.651980     100000.00000      170000.000000\n34       Clare       2020    193057.681058     140000.00000      178978.000000\n35       Clare       2021    197809.139894      50000.00000      183750.000000\n36        Cork       2010    237735.799022     200000.00000      215990.500000\n37        Cork       2011    202822.065273     180000.00000      180000.000000\n38        Cork       2012    177022.516193      80000.00000      155000.000000\n39        Cork       2013    177078.872864     100000.00000      140000.000000\n40        Cork       2014    180563.963740     100000.00000      147550.000000\n41        Cork       2015    210210.849427     150000.00000      165000.000000\n42        Cork       2016    210066.058042     200000.00000      182000.000000\n43        Cork       2017    235881.666554     200000.00000      201280.900000\n44        Cork       2018    287190.516977     200000.00000      224000.000000\n45        Cork       2019    270420.133296     200000.00000      235000.000000\n46        Cork       2020    278908.306103     250000.00000      250000.000000\n47        Cork       2021    274370.745370     220000.00000      247500.000000\n48     Donegal       2010    159250.112449     120000.00000      140000.000000\n49     Donegal       2011    132590.854875      80000.00000      115000.000000\n50     Donegal       2012    107662.414377      80000.00000       92000.000000\n51     Donegal       2013     94095.025775      50000.00000       79450.000000\n52     Donegal       2014     93472.597828      50000.00000       80000.000000\n53     Donegal       2015    104704.222546     100000.00000       89000.000000\n54     Donegal       2016    109834.060990      60000.00000       91825.625000\n55     Donegal       2017    121631.258141      50000.00000      106000.000000\n56     Donegal       2018    120725.725752      50000.00000      101000.000000\n57     Donegal       2019    128340.850652      80000.00000      114000.000000\n58     Donegal       2020    144585.473697      70000.00000      125000.000000\n59     Donegal       2021    146331.905137     100000.00000      125000.000000\n60      Dublin       2010    339378.508054     250000.00000      274349.231975\n61      Dublin       2011    312981.632246     200000.00000      240000.000000\n62      Dublin       2012    283740.125827     200000.00000      205750.000000\n63      Dublin       2013    325995.186008       9080.00000      220000.000000\n64      Dublin       2014    366850.329449     194086.00000      260000.000000\n65      Dublin       2015    357386.469467     250000.00000      275000.000000\n66      Dublin       2016    413382.481282     250000.00000      306450.000000\n67      Dublin       2017    431135.102083     250000.00000      335000.017000\n68      Dublin       2018    483739.513600     409999.98845      350000.000000\n69      Dublin       2019    515904.807517     300000.00000      355000.000000\n70      Dublin       2020    531262.261461     300000.00000      370000.000000\n71      Dublin       2021    553607.340788     300000.00000      370000.000000\n72      Galway       2010    230791.890038     250000.00000      213250.000000\n73      Galway       2011    200907.757103     150000.00000      165000.000000\n74      Galway       2012    168170.186408     120000.00000      147250.000000\n75      Galway       2013    158165.062409     100000.00000      130000.000000\n76      Galway       2014    157445.240811      70000.00000      135000.000000\n77      Galway       2015    170232.361225     140000.00000      140000.000000\n78      Galway       2016    192361.236966     200000.00000      160000.000000\n79      Galway       2017    213617.568695     180000.00000      182000.000000\n80      Galway       2018    244309.987471     230000.00000      200000.000000\n81      Galway       2019    250371.670251     200000.00000      220000.000000\n82      Galway       2020    257680.607358     190000.00000      231203.699500\n83      Galway       2021    261662.824882      59500.00000      236500.000000\n84       Kerry       2010    194550.932485     180000.00000      180465.000000\n85       Kerry       2011    165671.778371     170000.00000      150000.000000\n86       Kerry       2012    147481.014547     140000.00000      130000.000000\n87       Kerry       2013    133335.744554     100000.00000      110000.000000\n88       Kerry       2014    128803.720304      90000.00000      109960.000000\n89       Kerry       2015    140938.704036     110000.00000      113500.000000\n90       Kerry       2016    149778.787839     100000.00000      125000.000000\n91       Kerry       2017    155894.096096     150000.00000      135000.000000\n92       Kerry       2018    168320.630358     150000.00000      150000.000000\n93       Kerry       2019    189378.736219     130000.00000      165000.000000\n94       Kerry       2020    207584.966977     150000.00000      165000.000000\n95       Kerry       2021    200962.307053     150000.00000      180000.000000\n96     Kildare       2010    250828.213908     250000.00000      230000.000000\n97     Kildare       2011    230913.434237     249998.50500      201746.250000\n98     Kildare       2012    199000.474055     170000.00000      172000.000000\n99     Kildare       2013    203354.515520      74999.66500      175500.000000\n100    Kildare       2014    228775.282959     150000.00000      205000.000000\n101    Kildare       2015    255428.284556     220000.00000      227000.000000\n102    Kildare       2016    268330.975190     240000.00000      247000.000000\n103    Kildare       2017    274983.099126     240000.00000      260000.000000\n104    Kildare       2018    297668.308203     250000.00000      278949.994200\n105    Kildare       2019    320252.152696     250000.00000      288000.000000\n106    Kildare       2020    332141.651174     296235.00000      310000.000000\n107    Kildare       2021    349853.823151     339365.00000      300000.000000\n108   Kilkenny       2010    215527.026630     160000.00000      170000.000000\n109   Kilkenny       2011    169982.959268     150000.00000      140000.000000\n110   Kilkenny       2012    140260.806587     120000.00000      120000.000000\n111   Kilkenny       2013    134129.868900     130000.00000      111000.000000\n112   Kilkenny       2014    142284.376852      90000.00000      116337.500000\n113   Kilkenny       2015    167045.485201     150000.00000      136000.000000\n114   Kilkenny       2016    180739.004954     160000.00000      157500.000000\n115   Kilkenny       2017    181555.197771     150000.00000      160000.000000\n116   Kilkenny       2018    204653.217178     225000.00000      181600.000000\n117   Kilkenny       2019    217063.625207     180000.00000      185000.000000\n118   Kilkenny       2020    225311.968356     180000.00000      195000.000000\n119   Kilkenny       2021    228872.129895     160000.00000      196000.000000\n120      Laois       2010    171282.619597     125000.00000      156000.000000\n121      Laois       2011    130233.288837     100000.00000      114999.335000\n122      Laois       2012     98783.598124      80000.00000       82500.000000\n123      Laois       2013    101065.301191      70000.00000       75000.000000\n124      Laois       2014    103825.456769      65000.00000       85000.000000\n125      Laois       2015    128304.284930     100000.00000      106000.000000\n126      Laois       2016    158679.313376     144999.99550      129499.747500\n127      Laois       2017    156254.642076     150000.00000      140000.000000\n128      Laois       2018    165265.861663     194085.00000      152500.000000\n129      Laois       2019    177874.878208     185000.00000      170000.000000\n130      Laois       2020    206878.652385     180000.00000      180000.000000\n131      Laois       2021    229819.303852     190000.00000      190000.000000\n132    Leitrim       2010    135317.908750     100000.00000      130001.765000\n133    Leitrim       2011    114296.828522     125000.00000      110000.000000\n134    Leitrim       2012    100601.041192      80000.00000       83076.250000\n135    Leitrim       2013     74276.423740      40000.00000       60350.000000\n136    Leitrim       2014     79669.190508      50000.00000       60000.000000\n137    Leitrim       2015     92413.645285      50000.00000       70000.000000\n138    Leitrim       2016     90432.662765      60000.00000       75000.000000\n139    Leitrim       2017    102657.874855      80000.00000       87500.000000\n140    Leitrim       2018    113042.314928     100000.00000      100000.000000\n141    Leitrim       2019    117654.827718      90000.00000      100000.000000\n142    Leitrim       2020    125651.193491      50000.00000      103797.736250\n143    Leitrim       2021    129136.287977      31212.50000      120000.000000\n144   Limerick       2010    196249.107906     125000.00000      181600.000000\n145   Limerick       2011    170286.905858     168500.00000      160000.000000\n146   Limerick       2012    149323.329464     150000.00000      135000.000000\n147   Limerick       2013    140765.023632     100000.00000      116000.000000\n148   Limerick       2014    121314.392351      75000.00000       97000.000000\n149   Limerick       2015    138752.116242      50000.00000      116000.000000\n150   Limerick       2016    146121.705613      40000.00000      125500.000000\n151   Limerick       2017    168382.624884     100000.00000      147000.000000\n152   Limerick       2018    197852.922833     150000.00000      175000.000000\n153   Limerick       2019    205349.369259     150000.00000      180000.000000\n154   Limerick       2020    221018.065908     200000.00000      192000.000000\n155   Limerick       2021    232464.323057     185000.00000      185000.000000\n156   Longford       2010    143908.122617      75000.00000      130000.000000\n157   Longford       2011    104991.083678      90000.00000       85000.002450\n158   Longford       2012     85250.023088      60000.00000       65000.000000\n159   Longford       2013     68130.862117      50000.00000       55000.000000\n160   Longford       2014     70541.567275      50000.00000       53672.500000\n161   Longford       2015     74077.665651      35000.00000       60000.000000\n162   Longford       2016     84955.829247      45000.00000       72000.000000\n163   Longford       2017     97480.036948      65000.00000       83500.000000\n164   Longford       2018    106311.732472     140000.00000       90000.000000\n165   Longford       2019    124022.837350      80000.00000      110000.000000\n166   Longford       2020    136494.758495     100000.00000      104500.000000\n167   Longford       2021    150300.811579      95652.00000      110000.000000\n168      Louth       2010    197520.503620     439999.77500      177000.000000\n169      Louth       2011    161443.352244     150000.00000      142000.000000\n170      Louth       2012    144279.440297      65000.00000      113500.000000\n171      Louth       2013    130878.672525      75000.00000      108000.000000\n172      Louth       2014    131943.614082     100000.00000      113500.000000\n173      Louth       2015    144837.958047     120000.00000      130000.000000\n174      Louth       2016    167913.601423      90000.00000      150000.000000\n175      Louth       2017    236459.896884     180000.00000      180000.000000\n176      Louth       2018    213733.271110     221325.00000      212000.000000\n177      Louth       2019    226712.594811     253032.89345      215000.000000\n178      Louth       2020    229038.097925     150000.00000      200000.000000\n179      Louth       2021    248027.480494     150000.00000      210000.000000\n180       Mayo       2010    162905.474321     125000.00000      150000.005500\n181       Mayo       2011    142775.835752     120000.00000      120000.000000\n182       Mayo       2012    109358.091312      50000.00000       95000.000000\n183       Mayo       2013    110807.467692      90000.00000       87000.000000\n184       Mayo       2014    107802.035721      60000.00000       82000.000000\n185       Mayo       2015    115453.852921     100000.00000       90000.000000\n186       Mayo       2016    113656.071606      80000.00000       93000.000000\n187       Mayo       2017    132161.565459      75000.00000      107825.000000\n188       Mayo       2018    135000.203487     150000.00000      119000.000000\n189       Mayo       2019    142499.519727     150000.00000      128000.000000\n190       Mayo       2020    147265.032137      50000.00000      129000.000000\n191       Mayo       2021    157337.043257      65000.00000      140000.000000\n192      Meath       2010    235001.505655     200000.00000      217000.000000\n193      Meath       2011    202652.908366     150000.00000      180000.000000\n194      Meath       2012    181124.503518     200000.00000      150000.000000\n195      Meath       2013    174602.764558     125000.00000      140500.000000\n196      Meath       2014    190719.147701     150000.00000      160000.000000\n197      Meath       2015    215317.695053     100000.00000      190000.000000\n198      Meath       2016    232746.830858     200000.00000      213000.000000\n199      Meath       2017    258854.167101     200000.00000      249950.000000\n200      Meath       2018    278909.711326     250000.00000      263464.145000\n201      Meath       2019    293559.911592     220000.00000      284999.635000\n202      Meath       2020    300591.830861     240000.00000      279999.960000\n203      Meath       2021    317753.602209     300000.00000      289999.310000\n204   Monaghan       2010    162551.823619     206650.58500      141875.000000\n205   Monaghan       2011    136392.368863      60000.00000      114449.995000\n206   Monaghan       2012    110729.160910      70000.00000       90000.000000\n207   Monaghan       2013     95216.864589     109999.66000       75000.800000\n208   Monaghan       2014    101898.360672      27333.00000       80000.237500\n209   Monaghan       2015    114524.735447      50000.00000      100000.000000\n210   Monaghan       2016    120002.634252      30358.00000      103500.000000\n211   Monaghan       2017    141579.742223     100000.00000      125500.000000\n212   Monaghan       2018    147443.352523      77130.05000      133000.000000\n213   Monaghan       2019    154942.585169     180000.00000      146000.000000\n214   Monaghan       2020    162370.639112     175000.00000      130000.000000\n215   Monaghan       2021    167953.695997     115000.00465      144999.995500\n216     Offaly       2010    165096.145363     105000.00000      153225.000000\n217     Offaly       2011    136681.660716      80000.00000      115510.987325\n218     Offaly       2012    122140.903851     100000.00000      106500.000000\n219     Offaly       2013    102550.184655      80000.00000       84750.000000\n220     Offaly       2014    119304.661682     100000.00000      100000.000000\n221     Offaly       2015    111906.828820      50000.00000       92571.190200\n222     Offaly       2016    117502.264041      90000.00000      100000.000000\n223     Offaly       2017    144294.531278      70000.00000      130000.000000\n224     Offaly       2018    152730.908775     175000.00000      147775.000000\n225     Offaly       2019    161792.726229     170000.00000      155000.000000\n226     Offaly       2020    170641.925000      80000.00000      162500.000000\n227     Offaly       2021    180877.501081     185000.00000      170000.000000\n228  Roscommon       2010    144965.715455     100000.00000      135000.000000\n229  Roscommon       2011    109850.490696     150000.00000      100000.000000\n230  Roscommon       2012     89636.382024      50000.00000       77500.000000\n231  Roscommon       2013     79024.260441      50000.00000       65000.000000\n232  Roscommon       2014     76142.546543      50000.00000       60000.000000\n233  Roscommon       2015     82266.495011      40000.00000       65000.000000\n234  Roscommon       2016     93265.309852      50000.00000       72999.897500\n235  Roscommon       2017    109520.258185      60000.00000       85062.575000\n236  Roscommon       2018    116753.696918      80000.00000       99500.000000\n237  Roscommon       2019    127104.046772     130000.00000      110000.000000\n238  Roscommon       2020    122184.928475      70000.00000      101015.000000\n239  Roscommon       2021    141418.520903     110000.00000      121290.000000\n240      Sligo       2010    170264.002645     116568.33630      148003.415475\n241      Sligo       2011    175303.670305     120000.00000      120000.000000\n242      Sligo       2012    115574.402103      40000.00000       93000.000000\n243      Sligo       2013    111864.269892     100000.00000       90400.000000\n244      Sligo       2014    117995.481346      50000.00000       94000.000000\n245      Sligo       2015    126138.466765      70000.00000       99000.000000\n246      Sligo       2016    118433.418398      15106.00000       87000.000000\n247      Sligo       2017    137650.905734      85700.32015      110000.000000\n248      Sligo       2018    142560.286835      50855.66000      110000.000000\

         SALE_DATE     COUNTY  SALE_PRICE New Build  SALE_YEAR
0       2010-01-01     Dublin    343000.0         0       2010
1       2010-01-03      Laois    209975.0         1       2010
2       2010-01-04     Dublin    438500.0         0       2010
3       2010-01-04      Meath    400000.0         0       2010
4       2010-01-04   Kilkenny    160000.0         0       2010
...            ...        ...         ...       ...        ...
476740  2021-05-28  Westmeath    150000.0         0       2021
476741  2021-05-28     Carlow    170000.0         0       2021
476742  2021-05-28  Westmeath    175000.0         0       2021
476743  2021-05-28       Cork    240000.0         0       2021
476744  2021-05-28      Cavan     47000.0         0       2021

[476745 rows x 5 columns]